<div id="foundVideoTitle" (click)="onPlayVideoClick(film.videoId)">

  <img [src]=film.snippet.thumbnails.default.url>
<div id="info" >
      <a id="title" [innerHTML]="title"> </a>
      <a id="chanTitle" > by {{ film.snippet.channelTitle }}</a>
      <div>
          <button mat-raised-button (click)="onPlayVideoClick(film.videoId)">Play video</button>
          <button mat-raised-button (click)="onAddToFileListClick(film.videoId, title, film.snippet.channelTitle)">Add</button>
        </div>
     </div>
</div>

<!--<div>
  {{ film.snippet.description }}
</div>-->
<!--<div>
  {{ film.snippet.thumbnails }}
</div>
<div>
  {{ film.snippet.videoId }}
</div>


<app-add-to-playlist></app-add-to-playlist>-->
<div>






</div>

