#foundVideoTitle:hover{
  cursor: pointer;
}

#foundVideoTitle img{
  width: 80px;
  height: 80px;
}
#foundVideoTitle{
  display: flex;
  padding: 8px;
}
#title{
 
  font-size: 34;
  font-weight: 700;
  font-family: 'Cabin';
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box; */
  line-height: 16px;
  white-space: nowrap;
  max-width: 350px;
}
#info{
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}
#chanTitle{
  color: #666666;
  font-size: 24;
  display: flex;
}
.mat-raised-button {
  background-color: #FF4081;
  color: #fff;
  margin: 5px;
}
