/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
  //height: 100%;
  //font-family: 'Montserrat';
 // display: grid;
  //align-items: center;
  //justify-items: center;
  --bg: rgb(231, 231, 231);
  --color-text: black;
}

html[data-theme = 'dark']{
  --bg: rgb(29, 29, 29);
  --color-text: white;
}

body{
  background-color: var(--bg);
  color: #fff;
  margin: 0%;
  font-family: 'Cabin', sans-serif;

}
li{
  color: var(--color-text);
}

#play-list-nav{
  color: var(--color-text);
}