<!-- 
<div class="iframe-container">
  <iframe
  type="text/html"
  width="640"
  height="360"
  [src]="videoUrl"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
  colo="white"
  >
</iframe>
</div>-->

<iframe width="640" height="360"
[src]="videoUrl"
frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"

allowfullscreen></iframe>

