<div id='search'>
    <mat-card>

<mat-form-field>
  <input matInput placeholder="Search" (input)="searchSong($event)">
</mat-form-field>
  <div id="videos">
    <app-video-detail  *ngFor="let f of songsList" [film] = 'f'>
        <mat-card-header>
          <mat-card-title>{{ f.title }}</mat-card-title>
        </mat-card-header>
        <div></div>
    </app-video-detail>
  </div>
</mat-card>

</div>

<!-- items[""0""].id.videoId -->
