<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    Tu będzie nav bar - zawsze widoczny
  </h1>
</div>-->

<body >
<nav>
  <div id="navRight">
      <img class="logo" src="https://zapodaj.net/images/9edeaa6fbb7ec.png">
    <a routerLink="/playlist" class="button"><button mat-raised-button>Playlist</button></a>
    <a routerLink="/search" class="button"><button mat-raised-button>Search</button></a>
  </div>
  <div id="navLeft">
      <input type="checkbox" id="switch" name="theme" /><label for="switch">Toggle</label>
  </div>
</nav>
<router-outlet></router-outlet>
<div id='searchAndPlayer'>
    <app-video-palyer> </app-video-palyer>
    <router-outlet></router-outlet>
</div>

</body>
