

  
#searchAndPlayer{
    display: flex;
    justify-content: space-around;
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 5%;
}

#route-outlet {
    margin-left: auto;
    width: 100px;
}
nav {
    //background-color: #999;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-image: url('https://us.123rf.com/450wm/yamabikay/yamabikay1703/yamabikay170300331/74676280-grey-wall-texture-seamless-square-background-tile-ready-high-quality-texture-in-extremely-high-resol.jpg?ver=6');
}
#app-video-palyer{
    margin-left: 2%;
    width: 100px;
    padding-top: 4%;
    
}

#navRight{
    justify-content: space-between;
    display: flex;
    width: 300px;
    margin-left: 4%;
    //margin-bottom: 1%;
    //margin-top: 1%;
    align-items: center;
}

#navLeft{
    display: flex;
    align-items: center;
    width: 200px;
}

.logo {
    width: auto;
    height: 100px;
}

.mat-raised-button {
    margin-top: 10px;
    background-color: #FF4081;
    color: #fff;
  
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #FF4081;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 60px;
}

/*
.mat-input-element{
  color: pink;
}*/
