<div id="play-list">
  <div id="play-list-nav">
    <h1>Playlist</h1>
    <button mat-fab [routerLink]="['/addtoplaylist']" routerLinkActive="router-link-active" >Play</button>
    <button mat-fab (click)="goBack()">Previous</button>
  </div>
  <router-outlet></router-outlet>
    <ul class="playlist" >
        <li *ngFor="let song of songList | async" (click)="ponPlayVideoClick(song.filmId)" >
          <a [innerHTML]="song.title"> </a>
          <button mat-mini-fab (click)="onBtnUsunClick(song.id)">X</button>
        </li>
      </ul>

</div>