#play-list {
    margin-left:4%;
    //width: 1000px;
    //color: black;
    width:500px;
    padding-bottom: 4%;
    margin-top: -6%;
}

#play-list-nav {
    display: flex;
    width:300px;
    justify-content: space-between;
    align-items: center;
    padding-left:auto;
    padding-right:auto;
    //color: aliceblue;
}

a{
font-family: 'Cabin';
overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  line-height: 16px;
  white-space: nowrap;
  max-width: 350px;
}
ul{
    padding-left: 0%;
}

li{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 2%;
}
