#add-to-playlist{
    width:500px;
    height: auto;
}

#text{
    color: red;
    text-align: center;
}
#button{width: 500px;
display: flex;
justify-content: center;
margin-top: 3%;}
.mat-raised-button{
    margin-top: 10px;
    background-color: #FF4081;
    color: #fff;
}