<div id="add-to-playlist">
   <div id="text"><h2>Site under reconstruction.</h2>
    <br> We improve our website to suit your requirements.<br>We apologize for any inconvenience.
   </div>
<div id="button">
   <button mat-raised-button (click)="goBack()">Go back</button>
</div>
</div>